[2020-05-12 07:33] ThisIsQasim opened #1 "Currently failing in an existing VPC"
Using the AWSQS::Helm resource to deploy the cluster autoscaler in an existing VPC is currently failing for me with the following errors.

[code]

[2020-05-12 10:44] arunbhagyanath commented on #1
@ThisIsQasim Can you check if the subnets are having a route table association. I have found an issue when the subnets assigned with the EKS doesn't have an explicit route table association (The fix is on it way).

If it is something else, can you share me output of
`aws ec2 describe-route-tables --output json --filters Name=association.subnet-id,Values=<subnet-01>,Name=association.subnet-id,Value

[2020-05-12 11:07] ThisIsQasim commented on #1
The subnets do have route table associations.
Here is the output from `aws ec2 describe-route-tables --output json --filters Name=association.subnet-id,Values=subnet-xxx `

[code]

[2020-05-12 11:18] arunbhagyanath commented on #1
@ThisIsQasim can you provide me the same output of all subnets configured for cluster.

[2020-05-12 11:20] ThisIsQasim commented on #1
I just checked. 2 of the 6 subnets did not have explicit route table association. Retrying with explicit route table association.

[2020-05-12 12:17] ThisIsQasim commented on #1
Looks to be working with an explicit route table association.

[2020-05-12 13:00] arunbhagyanath commented on #1
Pushed the fix for the same.

[2020-05-12 13:00] #1 closed

[2020-05-18 03:51] OzNetNerd opened #2 "Template does not exist"
Hi team,

When trying to use the `https://s3.amazonaws.com/aws-quickstart/quickstart-helm-resource-provider/deploy.template.yaml` template, S3 reports: `The specified key does not exist.`

Can we please get this fixed up?

Thank you.

[2020-05-22 19:07] arunbhagyanath commented on #2
It is fixed. Please check now.

[2020-05-24 12:01] #2 closed

[2020-09-01 06:22] jaymccon opened #3 "resources deployed in default namespace"
deploying into a namespace results in the chart being in the namespace, but the resources are always in the default namespace.

For example, when deploying https://github.com/aws-quickstart/quickstart-eks-snyk/blob/master/templates/eks-snyk.template.yaml#L59-L69

[code]

This appears to be caused by 7c74f6d3ab1d71d4c49473d83c05f2ce1032a4cd and b18f6c8d7242125661a07ebf1b1a298292dca72b

[2020-09-01 06:33] jaymccon commented on #3
72db85dfcbe1e7b1e059fec128e2886c6cb701bd reverts  7c74f6d and b18f6c8 until we can figure out the cause

[2020-09-10 07:32] arunbhagyanath commented on #3
pushed a fix.

[2020-09-28 20:09] #3 closed

[2020-10-01 13:25] yjw113080 opened #4 "Lambda Error when deploying the template"
Hi,
I tried to deploy this resource provider like it is guided in this repo,
I got an error from Lambda...
Is there anything I missed to make this work?

**1. Error description**
1-1. I tried to deploy this CfnTemplate with the direction of README.md
[code]

1-2. I get the error from Cfn console.
(I changed the resource name from RegisterType to HelmProvider)

[code]

1-3. When I check the cloudwa

[2020-10-01 16:31] hkagalwa commented on #4
I experienced the same error. Were u able to resolve it ?

[2020-10-01 19:28] arunbhagyanath commented on #4
@yjw113080 and @hkagalwa 3ce6069c66cef195bb7a6fef789f6592cc85dcc6 should fix it. Keep in mind that at the moment you need to use the deploy.template.yaml to deploy.

[2020-10-15 13:22] #4 closed

[2020-12-11 12:41] ragoncsa opened #5 "Unable to access EKS cluster"
Hello,

I was trying to test this custom resource with my cluster, but I'm getting a timeout for the connection.

2020-12-11 14:31:51 UTC+0200 | TestResource | CREATE_FAILED | [errorString] Error: At Create NS - Post "https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.gr7.eu-central-1.eks.amazonaws.com/api/v1/namespaces": dial tcp 10.135.xx.xx:443: i/o timeout | AWSQS::Kubernetes::Helm | eyJ...X19

This is

[2020-12-11 13:35] ragoncsa commented on #5
I noticed, it's possible to provide VPCConfiguration. This resolved the above connection issue. But I received another error

2020-12-11 15:06:31 UTC+0200 | TestResource | CREATE_FAILED | [errorString] Error: At Create NS - Unauthorized | AWSQS::Kubernetes::Helm | eyJ...9fQ

I already gave full access to the cluster for the roles created by the installer:
role/awsqs-kubernetes-helm-resource-Execut

[2020-12-12 10:26] arunbhagyanath commented on #5
@ragoncsa, Error "Error: At Create NS - Unauthorized" seems like the role is not allowed in the kubernetes. So, you can allow
[ExecutionRole](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/308badf0634403ae71d06753ed5cc1821c811b11/deploy.template.yaml#L159) (that can be found the output of CloudFormation stack) or configure a [specific role](https://github.com/aws-quicksta

[2020-12-14 05:18] ragoncsa commented on #5
Thank you @arunbhagyanath for the quick reply.

I added the execution role to system:masters group, which fixed the problem. So my issue is resolved.

`kubectl edit -n kube-system configmap/aws-auth`

[code]

Some additional notes

While there is a Lambda function referenced by the stack awsqs-kubernetes-helm-resource (the function is called something like awsqs-kubernetes-helm-resourc-RegisterTyp

[2020-12-14 05:20] ragoncsa commented on #5
Also closing this, since my last comment was more to document my findings. There's nothing actionable.

[2020-12-14 05:20] #5 closed

[2020-12-20 03:55] nonai opened #6 "Unable to install - Helm upgrade error"
Hello,

Anybody faced this issue:

`Error: At Helm Upgrade - failed to download "stable/zinnga" (hint: running `helm repo update` may help)`

This is a custom Helm chart that I have developed and uploaded to S3 based repository. Here is a snippet of resource:

` zinnga Helm:`
      `Type: AWSQS::Kubernetes::Helm`
      `Properties:`
        `ClusterID: !Ref EKSCluster`
        `Namespace: default`

[2020-12-22 19:03] arunbhagyanath commented on #6
@nonai,

This error `Error: At Helm Upgrade - failed to download "stable/zinnga" (hint: running helm repo update may help)` usually comes when the charts can't be downloaded from repository. As you using custom repository in s3 I suggest verifying the chart path and index file.

[code]

For this repository structure, I use the S3 website URL as Repository.
[code]
Also, you can try the same with he

[2020-12-26 06:31] Noksa opened #7 "Resource handler timed out"
Hello.

I'm using this to create a Helm release with a long running installation phase (it takes around 15-20 minutes).
It takes a long time because I'm using helm-in-helm and install/upgrade manually using bash script (I mean I'm installing the Helm release using Cloud Formation template which contains helm and then invoke helm commands in a post-install hook).

So I always got an error after 7 m

[2020-12-26 08:06] arunbhagyanath commented on #7
@Noksa, I doubt the execution is waiting for the [description to be populated](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/cmd/resource/helm.go#L218-L228). Can you share logs from the resource provider, you can find it in CloudWatch logs group: awsqs-kubernetes-helm-logs?

[2020-12-26 11:47] Noksa commented on #7
@arunbhagyanath
Sure!

Here are the logs.
I can't figured out why so many streams were created but have the same text at the start.

1):
[code]

2):
[code]

3):
[code]

4):
[code]

5):
[code]

6):
[code]

[2020-12-26 12:59] Noksa commented on #7
I can upload a template and you will be able to reproduce this error.
Please let me know if this is possible.

[2020-12-27 17:01] nonai commented on #6
Yes, when enabled Helm debug mode(--debug), we found it to be S3 permission issue. We moved to Nexus repo, and it is now working. Thanks @arunbhagyanath .

[2020-12-27 17:01] #6 closed

[2020-12-28 08:20] arunbhagyanath commented on #7
@noksa, I'm trying to test this with a job in post-hook with sleep. AFAIK, the helm will wait till hooks to be ready before marking the resource as completed ([link](https://helm.sh/docs/topics/charts_hooks/)).

[code]

What I see is the resource provider is timing out as it is wait for helm installations to completed and get back the control which will not happens until the hooks are completed ex

[2020-12-28 11:03] Noksa opened #8 "Insecure and basic auth"
I believe it will be cool if your template contains new properties which will be responsible for the following:
1) Basic auth
2) Support insecure repositories

Both can be added via flags in the add command:
[code]

[2020-12-31 14:13] amitkatyal commented on #8
@Noksa, If I understood correctly, your request is to have the provision of specifying the username and password for authentication to Helm char repository right?

[2020-12-31 14:37] Noksa commented on #8
@amitkatyal Exactly.
I have a ChartMuseum repository with basic auth and I want to download and install charts from it.

[2020-12-31 14:40] amitkatyal commented on #8
Thanks for the clarification!

[2021-01-06 15:20] amitkatyal commented on #8
@arunbhagyanath, Any plans to support basic authentication?

[2021-01-07 13:42] arunbhagyanath commented on #8
@amitkatyal @Noksa, I will be pushing an update soon.

[2021-01-07 19:06] sandiegobrandon opened #10 "Bug in template for GovCloud deployments"
Hi,

There is a bug in the GovCloud parameters regex in the "awsqs-kubernetes-helm.json" file

I've submitted a pr with a fix. Can someone take a look for me?
https://github.com/aws-quickstart/quickstart-helm-resource-provider/pulls

Thanks!
Brandon

[2021-01-07 19:15] arunbhagyanath commented on #10
Merged

[2021-01-07 19:15] #10 closed

[2021-01-09 08:55] arunbhagyanath commented on #8
You should be able to [provide new options to repository ](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/docs/repositoryoptions.md).

[2021-01-09 09:26] #8 closed

[2021-01-15 11:25] Noksa commented on #7
@arunbhagyanath Any updates?

[2021-01-15 11:26] Noksa commented on #8
Cool!
Thanks @arunbhagyanath

[2021-01-21 12:05] techcto opened #11 "RepoUrl Gone"
We were making great use of RepoUrl  to host our private charts, per the example workload it still exists, but per code seems to be gone.  Can we please get this back?  Is there a better workaround?

[2021-02-20 18:27] dlaidlaw commented on #7
Is this happening because the Lambda is timing out? The lambda in deploy-template.yaml will timeout after 900 seconds of waiting due to lines 112 to 114.

[2021-02-23 07:22] arunbhagyanath commented on #7
Yes, it is caused by the resource's internal timeout. If the cluster is private or [Vpc config ](https://github.com/aws-quickstart/quickstart-helm-resource-provider/tree/main/docs#vpcconfiguration)is provided. Then the execution will happen in the custom defined lambda and which have timeout of 15 mins (900 sec). We can make use of this if the hooks takes less than 15 mins.

Hooks execution is par

[2021-03-25 05:57] vilvamani opened #14 "Transit gateway supported"
Hi Team,

I'm getting the below error while trying to deploy the AWS EKS QuickStart into my existing VPC(transit gateway).

**Error: no subnets with NAT Gateway found for the cluster EKS-QSOB7Y2K, use VPCConfiguration to specify VPC settings**

![image](https://user-images.githubusercontent.com/41226243/112425680-7d157d00-8d5c-11eb-9161-1ca07603d151.png)

Code fix for this issue available in the m

[2021-03-25 08:08] arunbhagyanath commented on #14
@vilvamani Can you move the issue to [quickstart-amazon-eks](https://github.com/aws-quickstart/quickstart-amazon-eks) repository. As the submodule should update to use the latest changes.

[2021-03-25 08:09] #11 closed

[2021-03-25 09:20] vilvamani commented on #14
Thank you @arunbhagyanath

[2021-03-25 09:20] #14 closed

[2021-03-29 05:23] vilvamani opened #15 "UnauthorizedOperation: You are not authorized to perform this operation"
Hi Team,

I'm getting the below error while trying to call **AWSQS::Kubernetes::Helm** from cloudformation

**Error: UnauthorizedOperation: You are not authorized to perform this operation**

![image](https://user-images.githubusercontent.com/41226243/112790372-d5aa8a00-907c-11eb-8642-64764f3810aa.png)

Thank You

[2021-03-29 10:53] arunbhagyanath commented on #15
Can share the provider logs? I need to see which operation it is trying to ( you might also need to [decode the authorization message](https://docs.aws.amazon.com/cli/latest/reference/sts/decode-authorization-message.html)).

Also, If you deployed using the [deploy.template.yaml](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/deploy.template.yaml), then there was a m

[2021-03-29 12:49] vilvamani commented on #15
@arunbhagyanath I identified and fix the issue in my aws account.

[2021-03-29 12:49] #15 closed

[2021-03-31 04:13] vilvamani opened #17 "AWS EKS QuickStart cloud formation stack stack creation failed."
Hi Team,

I'm getting the below error while trying to lunch AWS EKS QuickStart. The cloud formation stack creation failing while calling **'AWSQS::Kubernetes::Helm'** resource.

2021-03-30T15:17:40.671Z 2021/03/30 15:17:40 Using Subnets: [subnet-0c1586356d57bae9b subnet-0c1586356d57bae9b subnet-0c1586356d57bae9b subnet-0c1586356d57bae9b subnet-0c1586356d57bae9b subnet-0c1586356d57bae9b subnet-0c15

[2021-03-31 04:17] vilvamani commented on #17
We are trying to deploy the Boomi EKS QuickStart in transit gateway network architecture.

[2021-03-31 16:20] arunbhagyanath commented on #17
Lambda support only 16 subnets and here we have ~34. I have pushed a fix to limit it.

[2021-03-31 16:23] #7 closed

[2021-04-12 10:04] macobo opened #19 "Long-updating helm charts can cause stack to become un-upgradable"
Hi,

I've been putting together a CF template and helm chart using this resource provider.

I keep running into the following error during some updates:

This causes the stack to get "stuck" in UPDATE_ROLLBACK_FAILED stage, where it's never able to recover - trying to roll back results in an identical error.

Deployed the template via:

[code]

## Digging deeper

I did some digging, the behavior h

[2021-04-13 06:20] macobo commented on #19
I think the trouble here is this:

From https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-test-contract.html

My helm chart is taking a bit longer than that to update.

Given that large helm charts regularly take more than a minute to update this seems to be missing functionality for this resource provider.

[2021-04-13 06:42] arunbhagyanath commented on #19
Taking a look.

[2021-04-13 06:44] #17 closed

[2021-04-14 11:29] arunbhagyanath commented on #19
[Commit](https://github.com/aws-quickstart/quickstart-helm-resource-provider/commit/44ab86140d7d98b6f5305127cc93ee72a5c9c03e) should fix the issue. The release cycle in the aws-quickstart/quickstart-helm-resource-provider bucket will take sometime to get updated. You can use the [deploy.template](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/deploy.template.yaml) wi

[2021-04-14 11:32] macobo commented on #19
Thanks, will test it out!

Out of curiosity, where does the code that updates these buckets live?

[2021-04-14 11:56] arunbhagyanath commented on #19
It is part of [quickstart-amazon-eks build](https://github.com/aws-quickstart/quickstart-amazon-eks/blob/main/build/register-resource.sh).

[2021-04-15 08:59] macobo commented on #19
Sorry for the delays in verifying if this solved the bug.

Been having a lot of trouble getting helm resource deploys working due to the following error:

[code]

Logs are not very helpful with this either:

[code]

From this, the error seems to come from https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/4b1ea438ce51303f2f014053eeb761516179d809/cmd/resource/aws.go#L106-L115,

[2021-04-15 10:17] arunbhagyanath commented on #19
Thanks for the fix.

[2021-04-15 11:18] macobo commented on #19
:partying_face: Managed to confirm the fix works! Thanks for all the help @arunbhagyanath.

[2021-04-15 11:18] #19 closed

[2021-04-19 11:01] macobo opened #21 "Already deleted charts fail to be deleted"
When you:
1. Create an invalid chart or
2. Delete the release via bastion host

The chart always fails to be deleted.

### Steps to repro

1. Deploy the following template

[code]
2. See that rolling it back fails:
![image](https://user-images.githubusercontent.com/148820/115226165-96210c00-a117-11eb-83af-78b89d8e1db8.png)

Same occurs when you:
1. Deploy a chart
2. Delete the release via bastion

[2021-04-19 11:06] macobo opened #22 "Custom resource can become un-updatable"
I've been testing out and developing using this custom resource type over the past few weeks and have ran into a few interesting errors, one of which I'll be documenting here.

Assume I have:
1. EKS stack deployed
2. Deployed a `AWSQS::Kubernetes::Helm` chart

When I try to update the helm chart but my helm chart templates have errors, the update fails and cloudformation tries to roll things back.

[2021-04-20 07:41] arunbhagyanath commented on #21
This will be fixed in the new release.

[2021-04-21 17:58] arunbhagyanath commented on #21
fixed in 9d6ec5646e946be8d0aebb4aa8414b032b4bbeec

[2021-04-21 17:58] #21 closed

[2021-06-16 11:36] commandosss opened #23 "AWSQS::Kubernetes::Helm running duplicate chart"
Hi Team,

I'm getting the strange error while trying to deploy Airflow HELM Chart by quickstart-helm-resource-provider.
The cloud formation stack creation failing on 'AWSQS::Kubernetes::Helm' resource.
[code]
I think that it's my fault, but when i redeploy my EKS Cluster and i can see that issue again i'm surprised.

So, how reproduce my issue.
I'm used the latest version of the quickstart-helm-re

[2021-06-17 11:04] arunbhagyanath commented on #23
This looks interesting. Can share the logs the awsqs-kubernetes-helm-logs log-group and full stack events?

[2021-06-22 10:36] commandosss commented on #23
Hi, I'm sorry for the delay.
I can't attach fullstack events and awsqs-kubernetes-helm-logs log-group because it's blocked by policy.
But I can attach my manifest with deploying airflow.
I also wanted to add that: I deployed the first version of airflow without problems.
I have a problem with deploy airflow2 only.
[code]

[2021-06-25 11:08] arunbhagyanath commented on #23
@commandosss, This seems to be old/fixed issue. How you installed the provider. I would recommend to use the latest release or [activate it from public registry](https://github.com/aws-quickstart/quickstart-helm-resource-provider#activating-the-resource-type).

[2021-06-25 11:11] commandosss commented on #23
Okay, i will try to update my QSS-EKS(2-0-1) and QSS-HELM, thanks!

[2021-06-28 14:27] commandosss commented on #23
It's working for me!
Latest QSS-EKS with latest quickstart-helm-resource-provider is working now!
Thanks for your comment about old/fixed issue!

[2021-06-28 14:27] #23 closed

[2021-06-29 08:53] dgard1981 opened #24 "Error 'secrets is forbidden' when deploying resource type"
**Extension Version**
1.4.0

I have added the required IAM role via the [resource-role](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/resource-role.yaml) template, and I've registered the resource type via the [register-type](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/register-type.template.yaml) template, but CloudFormation is sti

[2021-06-29 13:31] arunbhagyanath commented on #24
From the error `Error: At Helm install - Kubernetes cluster unreachable: the server has asked for the client to provide credentials`  it seems like not able to authenticate with the EKS cluster. Can you try adding username `HelmProvider` instead of `system:node:{{EC2PrivateDNSName}}`?

[2021-06-29 15:26] dgard1981 commented on #24
Thanks for the reply. I'm not sure wat the issue was, but everything seems to be working now. I removed the CloudFormation stacks and started again, so obviously something was configured incorrectly somewhere, but I don't know where.

So in the end I didn't need a username at all, though after adding `HelmProvider` everything continued to work, so that bit appears optional.

[2021-06-29 15:26] #24 closed

[2021-07-02 00:20] amitkatyal opened #25 "[QUERY] Is there any plan to support S3 or ECR plugin?"
We have the requirement to deploy the helm chart from the ECR or S3 repo. But during deployment, we found that the qs helm resource provider doesn't support ecr or s3 protocol. Is there any plan to add support for any of them for the AWS deployment or any other workaround because currently, we have to manually modify the helm repo index.yaml file to change the protocol from s3 to https ?

[2021-07-02 08:30] arunbhagyanath commented on #25
Can you pass the chart in [this format ](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/examples/02-charts-from-ecr.yaml#L10)to download images from ECR.  Foe S3 you can use `s3://` .

[2021-07-02 09:31] amitkatyal commented on #25
Thanks, Arun.
Let me try. I Will check and update.

[2021-07-04 03:17] amitkatyal commented on #25
Arun,

I updated the CF helm resource provider plugin to the latest version & tested it by specifying the chart value to

oci://ecr://<account-id>.dkr.ecr.<region>.amazonaws.com/<repo-name>:<chartName>

but it didn't work & getting the below error

**2021/07/04 03:03:03 Error: At Downloading - pull failed <account-id>.dkr.ecr.<region>.amazonaws.com/<reponame>:<chartname>, Error: unexpected status

[2021-07-06 07:42] arunbhagyanath commented on #25
Amit, can you share me the logs provider ? Also, the permission of the IAM role used for the provider?

[2021-07-06 12:53] amitkatyal commented on #25
Arun,

Sorry didn't get you, What you mean by the logs provider?

I think you are asking about the IAM role/policy attached to the plugin. IAM policy does have the ECR permissions. As are getting 400 Bad requests, I suspect this issue has to do with the request.

  RegisterHelmType:
    DependsOn: ArtifactCopyPolicy
    Type: Custom::RegisterType
    Properties:
      ServiceToken: !GetAtt Registe

[2021-07-06 15:01] arunbhagyanath commented on #25
Amit, The provider logs will in CloudWatch logs (`cloudformation/registry/awsqs-kubernetes-helm`). I assume the resource is configured as `*`.

Also, I would like to request few more details from you,
 - aws ecr describe-images output of the chart you are trying to pull.
 - Do you see any errors in the CloudTrails?
 - Do you trying to pull the image from same account ?

[2021-07-06 15:47] amitkatyal commented on #25
Arun,

Thanks for your quick reply!

Yes, the resource is configured as  "*".

Regarding cloud watch logs, I will again try to reproduce the issue & will share the details by tomorrow.

1. I don't see any errors in the CloudTrails.

2. Yes, I am trying to pull the image from the same account but from a different region.

3. aws ecr describe-images --repository-name ztna-helm --region ap-southeast-

[2021-07-06 17:19] arunbhagyanath commented on #25
Amit, the cross region was causing the issue. I have pushed the fix in release [v1.1.1](https://github.com/aws-quickstart/quickstart-helm-resource-provider/releases/tag/v1.1.1).

[2021-07-06 23:01] amitkatyal commented on #25
Thanks a lot, Arun!
I'll test the fix and update you.

[2021-07-07 02:16] amitkatyal commented on #25
Thanks Arun, It works!

[2021-07-07 07:29] #25 closed

[2021-07-23 16:23] amitkatyal commented on #25
Helm charts from ECR is not working in the case of cross-account access. Is there any plan to address the same?

[2021-08-30 20:07] jg-par opened #27 "Unable to deploy Helm chart"
Hello,
I'm trying to enable the Helm resource provider with my existing EKS Fargate cluster. I created the IAM role with the [template provided here](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/execution-role.template.yaml) and added it to my aws-auth configmap as such:

[code]

but when I try deploying the Wordpress example in [this guide](https://aws.amazon.com/

[2021-09-01 09:17] arunbhagyanath commented on #27
There seems like a connectivity error to the API endpoint. As you are using a private access cluster, the resource provider will provision a lambda to do the operations and it will use the Additional security groups assigned to the cluster. So, any of the security groups assigned to the cluster should have inbound https (443) from the this security group.

[2021-09-01 12:49] jg-par commented on #27
I see, thank you for the clarification. Does this provider require VPC configuration as well?

[2021-09-01 13:12] arunbhagyanath commented on #27
VPC configuration is optional. If not provided it will get the subnet and security group from EKS cluster.

[2021-09-10 18:57] jg-par commented on #27
got this working, thanks again @arunbhagyanath

[2021-09-10 18:57] #27 closed

[2021-09-24 13:16] ankur-gupta-guavus opened #30 "Facing issue while installing helm chart from ECR"
Hi,

I am unable to install helm chart from ECR. Getting below error in cloudwatch logs:

[code]
I have given `ecr:*` permissions to role which is used for helm install. Please let me know what I can be doing wrong.

I can install the same in my EKS cluster using helm ecr [plugin](https://github.com/vetyy/helm-ecr)

[2021-09-27 10:55] ankur-gupta-guavus commented on #30
Problem resolved, earlier I pushed helm chart to ECR using helm version 3.7.0 ==> `helm push <chart>.tgz oci://xxxxxxxxxx.dkr.ecr.us-east-1.amazonaws.com/<repo>:<tag>` as explained [here](https://docs.aws.amazon.com/AmazonECR/latest/userguide/push-oci-artifact.html). It did not worked. Then I used helm 3.6.3 (which has `helm chart` available) and then first saved my chart to local registry cache u

[2021-09-27 10:55] #30 closed

[2021-10-13 11:27] bogdan-kovalev commented on #22
Yes. I'm not a maintainer, but I think this happens because the code uses `helm .. --description <ID from CloudFormation>` kind of thing to install the release. That ID is something that is used to identify that the release was installed by `AWSQS::Kubernetes::Helm` resource. The thing is, `helm rollback` does not support `--description`, hence, `helm update` is used instead, to maintain that ID i

[2021-11-03 13:26] nbbhall opened #35 "CloudFormation fails to create resource of type AWSQS::Kubernetes::Helm for EKS cluster with private only API access"
Documentation does not mention this as a requirement, but when I try to create stack for an EKS cluster with private only API access, CFN fails to create the resources and times out. My understanding is that CFN directly interacts with API server over internet and therefore API server should be accessible over the internet. Is this accurate understanding or am I missing something? Thanks!

[2021-11-03 16:41] arunbhagyanath commented on #35
Yes, in case of publicly available clusters. If the cluster as private enabled, the provider will create vpc-connector lambda to interact with the cluster API. VPC configuration will be [auto detected ](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/cmd/resource/aws.go#L242-L328)for subnets configured in with the cluster (if the subnets have NAT or TGW in their route

[2021-11-10 05:45] yousufsujeel opened #36 "Not able to override values"
Am trying to install EFS CSI driver as per the document.  https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

Template
=========
AWSTemplateFormatVersion: 2010-09-09
Description: Deploys EBS and EKS CSI Driver in EKS
Parameters:
  EksClusterName:
    Type: String
    Default: xxxx
  AppName:
    Type: String
    Default: xxxx
Resources:

  EfsCsiServiceAccount:
    Type: 'AWSQS::Kuberne

[2021-11-10 17:44] arunbhagyanath commented on #36
You should see the `controller.serviceAccount.create: false` in the Values of the resource instead of `serviceAccount.controller.create: false`.

[2021-11-11 14:43] bogdan-kovalev opened #37 "Fresh installation fails with "Release already exists" error"
## Description

Observed many times when Helm installation fails with the `Release already exists` error.

The suspected root cause is that Kube contexts somehow messed up or the handler is not able to correctly process incoming CREATE events and detect the in-progress installation.

Logs (untrimmed) :
[code]

[2021-11-11 14:47] bogdan-kovalev commented on #37
Basically this is what happens within two minutes:
[code]

[2021-11-11 15:35] bogdan-kovalev commented on #23
Looks like still reproducible
https://github.com/aws-quickstart/quickstart-helm-resource-provider/issues/37

[2021-11-15 15:27] bogdan-kovalev commented on #37
The root cause could be the "Initial install underway" description set by Helm. This initial description can prevent AWS Helm Lambda to find the release which it recently started installing:

[code]

After several seconds, the description gets replaced by an actual ID from Cloud Formation:

[code]

[2021-11-15 20:30] mufaddalq commented on #37
@troy-ameigh : can you possibly look into this?

[2021-11-16 12:28] arunbhagyanath commented on #37
@bogdan-kovalev can you share the cloud formation template you are using (remove sensitive informations if any) ?

[2021-11-16 20:42] spence95 commented on #37
I get the same error intermittently with the exact same chart.
I'm just using a default Airflow helm chart as the example

[2021-11-17 12:19] bogdan-kovalev opened #38 "Dockerfile uses golang:1.14-alpine while go.mod 1.16"
## Description

Dockerfile uses golang:1.14-alpine while go.mod 1.16

[2021-11-17 14:14] bogdan-kovalev commented on #37
Also, the latest eks quickstart (that we are using) uses a fairly old helm resource provider commit:
https://github.com/aws-quickstart/quickstart-amazon-eks/tree/main/functions/source

@arunbhagyanath  Were there any fixes after Jul 6th related to this issue?

[2021-11-17 14:52] arunbhagyanath commented on #37
@bogdan-kovalev I believe there aren't any change to the install functionality after Jul 6th. Can you share me the parameter you are passing to the resource ?

[2021-11-17 15:30] bogdan-kovalev commented on #37
@arunbhagyanath , I reproduced on the latest commit as well.

Parameters are quite common:
[code]

The stack events:

2021-11-17 17:02:20 UTC+0200 | bkovalev-n1-SFCNStack-WD5AMS8TFGCB-SecureFirewall-1SL93HV1OE9AL | CREATE_FAILED | The following resource(s) failed to create: [SecureFirewall].
-- | -- | -- | --
2021-11-17 17:02:19 UTC+0200 | SecureFirewall | CREATE_FAILED | Resource handler returned

[2021-11-17 16:50] bogdan-kovalev commented on #37
@arunbhagyanath
I got more details with additional printing of CallbackContext. Please look at the CallbackContext returned in event 2 and received in event 3. There's a mismatch, it get's reset to `Init` stage for some reason.

First CREATE action:
[code]

Second CREATE action:
[code]

Third CREATE action:
[code]

[2021-11-17 17:45] arunbhagyanath commented on #37
Third request is not intended. @troy-ameigh / @jaymccon can you check the stack and see why CFN is retrying the request.

@bogdan-kovalev can also try passing the vpc configuration to the resources. This way will use the lambda connector.

[2021-11-17 18:34] jaymccon commented on #37
My guess is that this is because cfn is retrying an operation that it does not get a fast enough response for. Even though the resource schema contract states that a provider has 60 seconds to respond, this is (in my experience) not true for the initial request, this must be returned within a few seconds. At present the helm type does quite a few things during the initial invocation, the fix would

[2021-11-22 21:50] yousufsujeel opened #41 "How can we choose Helm version."

[2021-11-23 09:35] arunbhagyanath commented on #41
This resource is build for Helm 3. Currently it uses the [Helm 3.7.0](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/12e65d82aff1ddbc0459260a03238a79ebabf963/go.mod#L14).

[2021-12-02 22:03] jaymccon commented on #37
After further investigation it appears the second invocation is timing out, hence the 3rd invocation that is a retry. Looking at the logs:
[code]
the invocation is taking longer than the timeout period of 60 seconds.

To properly fix this is not a small task, we will need to look at how to consistently return a response in < 60 seconds even if we haven't managed to get a response from helm on our

[2021-12-06 12:39] bogdan-kovalev commented on #37
@jaymccon ,
Most of the invocations are longer than 60 sec, and still some of them transition between `Init` -> `ReleaseStabalize` -> `Complete` stages successfully.

Like here for example, the time it took is more than 60 sec, but all when fine eventually.
Helm repo update took 1 sec.
Release installation took 76 sec.
[code]

[2021-12-06 17:27] bogdan-kovalev commented on #37
@jaymccon , I suspect that this `CallbackDelaySeconds` is the place we need to increase, to give more time for the lambda to process things before it gets pinged from CloudFormation again... What do you think?

https://github.com/aws-quickstart/quickstart-helm-resource-provider/search?q=CallbackDelaySeconds

[2021-12-06 18:15] jaymccon commented on #37
If none of those workarounds are viable I don't see any more options other than waiting for a fix.

I can look into the CallbackDelaySeconds change, but it is unlikely this is it. Based on the logs you provided the timeout is happening within a single invocation of the state machine, not across multiple, and CallbackDelaySeconds affects the sleep time in-between invocations. CFN resource types are

[2021-12-07 04:55] amitkatyal opened #42 "[Query] Regarding cloudformation service custom resource"
We are using the cloudformation service to deploy the EKS stack and in order to deploy the Kubernetes helm resource to the EKS cluster we are using quickstart helm resource provider custom resource.

Investigation details
While investigating one of the issue found that sometimes the cloudformation custom resource action takes more than one minute. If the request takes more than one minute, then th

[2021-12-07 16:19] arunbhagyanath commented on #42
I assume you are using custom resource provider., then there is no way to increase this limit. However, this limit is for the initial invocation ( ie, before CFN recieves the primary primaryIdentifier). So, in this resource we send back the primaryIdentifier as soon as the we [recieves the request](https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/cmd/resource/action.go

[2021-12-07 18:45] amitkatyal commented on #42
@arunbhagyanath Thanks for your quick reply!!
Yes, we are using the custom resource provider. If there is no way to increase the retry limit. How do we ensure that lamda is done with the k8s resource deployment within one minute? We have seen that updating the lambda function code and updating the function config itself takes around 15 seconds. Also, the delete handler of the first checks if the r

[2021-12-09 02:06] amitkatyal commented on #42
@arunbhagyanath , As per the AWS documentation each handler times out after one minute. It is recommended to write handler as a state machine and handler can exit with one of the three states; SUCCESS, IN_PROGRESS, and FAILED. However, if the crud operation (create/update and delete) itself takes more than a minute then the handler will not exit & will be invoked again by the CF service after the

[2021-12-09 11:58] bogdan-kovalev commented on #38
It causes errors at the docker build time:
[code]

[2021-12-10 17:02] bogdan-kovalev commented on #38
Fixed in https://github.com/aws-quickstart/quickstart-helm-resource-provider/pull/43

[2021-12-10 17:02] #38 closed

[2021-12-10 17:03] #37 closed

[2021-12-15 11:24] arunbhagyanath commented on #42
@amitkatyal, Yes, An invoke is one-minute (max). If the provider is still processing then it should send and response as `IN_PROGRESS` with `CallbackContext`. Then CFN will invoke after the `CallbackContext`. With `CallbackContext` you can pass addition option that can  be use to identify this is another invocation. In helm, I use [stage](https://github.com/aws-quickstart/quickstart-helm-resource-

[2021-12-15 16:46] AmitKatyal-Sophos commented on #42
@arunbhagyanath, Thanks for the reply!
Currently, the provider is calling the lambda synchronously which is taking more than one minute so it is. not possible for the provider to return the response as IN_PROGRESS with CallbackContext.

So, to address this issue you are suggesting to invoke the lambda asynchronously so that the IN_PROGRESS response can be returned immediately to the CF service and

[2022-01-08 13:22] Noksa opened #45 "Resource handler returned message: "Manifest not provided in the request" (RequestToken: 916fcf33-34d3-058a-bcf8-ef2a73c739a7, HandlerErrorCode: KubeException)"
I receive the following error when I try to install a helm chart
[code]
My chart contains only hooks so it looks like we can't install helm chart that contains only hooks?

[2022-01-08 17:52] arunbhagyanath commented on #45
This is expected as manifest is pulled from the chart to check the resource's status before marking the status. I would suggest using a dummy resource if the chart only as hooks.

[2022-01-08 19:29] Noksa commented on #45
Yeah, this workaround works.

[2022-01-08 19:29] #45 closed

[2022-03-09 19:34] puneetsingh23 opened #47 "pull Helm charts from quickstart not working"
Hi,
I am following https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/main/examples/02-charts-from-ecr.yaml
to pull my helm chart. I am getting below error. I have deployed same helm chart successfully using below command
helm install nginx1 oci://Accountnumber.dkr.ecr.us-east-1.amazonaws.com/nginx --version 9.7.8

Error:
Resource handler returned message: "Error: At Checking

[2022-03-09 20:50] puneetsingh23 commented on #47
helm version v3.8.0

[2022-03-16 02:45] jiezhang0917 opened #49 "The upgrade stops working after a helm rollback"
Hello,

I used Kubernetes::Helm to deploy my app. After a manual rollback with `helm rollback release-name`, the stack cannot be updated anymore with error message: ```HelmActionException, Message: Error: At Helm Upgrade - another release exists with the same name but different ID Rollback to 6```

Is there a way prevent manual rollback breaking next helm upgrade?

Thank you!

[2022-03-21 10:28] arunbhagyanath commented on #49
When we rollback manually with `helm rollback` the description of the release will be updated to 'Rollback` and the ` Kubernetes::Helm` provider uses the description for idempotency. I couldn't see any option to provide the description in the `helm rollback` command. So, the fix here will be do a manual upgrade on the release with `--description`. You use the `PhysicalResourceId` (aws cloudformati

[2022-03-22 17:16] jiezhang0917 commented on #49
Hi @arunbhagyanath, thank your for the response. I'm just wondering is there a ncessity to check whether the `description` matches the logical id of the resource when run the upgrade? https://github.com/aws-quickstart/quickstart-helm-resource-provider/blob/v1.2.0/cmd/resource/helm.go#L450

I guess it should be the developer's own responsibility to name two releases the same name which caused the o

[2022-03-25 09:16] mathbruyen opened #50 "Restrict access control of Helm resources based on CloudFormation user"
We used AWS EKS quickstart to bootstrap an EKS cluster [https://github.com/aws-quickstart/quickstart-amazon-eks ](https://github.com/aws-quickstart/quickstart-amazon-eks) and deploy multiple applications as Helm charts in CloudFormation templates thanks to Helm resource provider.

We would like that the users that apply our CloudFormation templates containing Helm charts are restricted to deployin

[2022-03-28 06:48] rossi-fi commented on #47
Is there a workaround for this?

[2022-04-04 12:43] arunbhagyanath commented on #47
@rossi-fi, This should be working with 1.12.0. Can you share the logs from provider?

[2022-05-24 11:20] gusevart commented on #47
@arunbhagyanath Hi
I see that PR #48 should fix the problem. Do you have any plans to release the new version?

I use version `1.13.0` from `us-east-1` region (other regions doesn't have `1.13.0` but only `1.12.0`)
1.13.0 released at 2022-03-11 02:33:14 UTC+0300, after the PR was merged.

But, when I'm trying to use chart from ECR a get an error:
[code]

And this error exist in code before #48 PR.

[2022-06-02 07:16] rossi-fi opened #52 "Update published version in CloudFormation registry"
The latest version published in eu-west-1 is suffering from #37. Would very much like to see this working.

[2022-06-13 19:34] sergeisantoyo opened #53 "Creating an AWSQS::Kubernetes::Helm resource fails with 'Internal Failure'"
This is my template:

[code]

Cloudformation just takes a lot of time and eventually fails with 'Internal Failure' which is not very enlightening.

Is there another way to troubleshoot further? Not very sure what to do with this. I don't see a release getting created in my EKS cluster, so apparently the release creation process doesn't even start.

[2022-06-21 14:59] JonathanManass commented on #53
If you deleted the regional resources stack in your aws account, you might have to deregister the resource

[2022-06-21 15:05] sergeisantoyo commented on #53
@JonathanManass What do you mean by regional resources stack?

[2022-06-21 15:13] JonathanManass commented on #53
Oh right I meant to add, If you are using this as part of the EKS quickstart*
As then the resource is deployed as a cloudformation resource in a substack called "regionalresources..." though it might be the same mistake if you deployed this one independantly and have deleted and recreated it

[2022-06-21 15:18] sergeisantoyo commented on #53
I already had a running EKS cluster, so I followed the process to activate the resource type. I created this CF template to automate the activation:

[code]

Before doing this, I got a different error saying that the `AWSQS::Kubernetes::Helm ` resource didn't existed. I ran the template above and that error is gone, but now I'm facing the Internal Failure one.

[2022-06-21 15:30] arunbhagyanath commented on #53
Can you share the resource provider logs from the cloudwatch logs?

[2022-06-21 16:17] sergeisantoyo commented on #53
I was not seeing that log group being created.
But I already identified the issue. I was setting the execution role wrong. I used the one provided in the docs and that solved the issue. I am able to deploy helm charts now. Thanks a lot for your help!

[2022-06-21 18:31] #53 closed

[2022-06-22 21:07] agouldsfi commented on #52
I too am encountering what appears to be [#37](https://github.com/aws-quickstart/quickstart-helm-resource-provider/issues/37) (Release already exists).  I am using the latest public type activation in us-west-2 (as of 6/22/2022).

I'm seeing the following version information on the public type activation page in us-west-2:

Version:  1.12.0
Release date: 2022-03-10 18:38:24 UTC-0500

(which seems

[2022-07-15 20:19] jksnetwork commented on #41
Any chance we can get a new release with Helm 3.8.0?  I am running into this issue while trying to deploy an Istio Helm chart.

https://github.com/istio/istio/issues/38061

[2022-07-21 18:22] troy-ameigh commented on #52
this issue is resolved. Latest version is in Public Registry

[2022-07-21 18:22] #52 closed

[2022-07-21 18:23] troy-ameigh opened #59 "Add Semantic version to cloud watch logs."
I also observed that the quickstart team added their semantic version 1.2.1, to the activation description - which is a good idea and very helpful.

It would be a good to idea to regularly report this version in the CloudWatch logs as well for both the public activation lambda, and its child vpc connector lambda (to make sure that updates to the type activation do actually make it to the connector

[2022-07-22 13:34] SergNikitinSharpDev commented on #47
Having same issue with AWSQS::Kubernetes::Helm extension version 1.12.0. Alternatively we would like to reference helm chart with particular tag in public repository. Is that possible or planned?

[2022-07-22 14:14] SergNikitinSharpDev commented on #47
We've solved the same issue after update to the recent 1.16.0 version by enabling automatic minor version updates in AWS console (CloudFormation -> Registry: Activated extensions -> AWSQS::Kubernetes::Helm).

[2022-08-09 14:36] danielc-salt opened #60 "Helm Deploy Issue after changing helm repo location"
I was hosting my helm repo in s3 and moved to jfrog, same content.
Error is:
`2022/08/09 13:30:36 HandlerErrorCode: HelmActionException, Message: Error: At Helm install - create: failed to create: Request entity too large: limit is 3145728 `

[2022-08-09 14:43] arunbhagyanath commented on #60
Please take a look at [this](https://github.com/helm/helm/issues/7264) and see if you can reduce the chart size.

[2022-08-09 15:15] danielc-salt commented on #60
Yes, I was doing packaging of my helm charts with old packages included in the latest. Closing.

[2022-08-09 15:15] #60 closed

[2022-08-18 17:02] gusevart commented on #47
Yes, looks like new version was deployed.
I think issue can be closed.

[2022-09-16 01:29] kwit75 opened #63 "helm-provider-vpc-connector not in desired state: Inactive"
Resource handler returned message: "helm-provider-vpc-connector-c0997959f98c8b68091eae27187101ac not in desired state: Inactive" (RequestToken: fc4ad987-a52d-6ed0-fc97-67c3cdbd2148, HandlerErrorCode: LambdaException)

Just started to receive this message

[2022-10-11 13:08] shiny-zero opened #64 "can't read CA file: /tmp/ca.pem error with RepositoryOptions.CAFile"
The CA file downloads successfully based on the logs but does not seem to be available to the context of `helm-provider-vpc-connector` lambda function

see cloudwatch logs for cloudformation and lambda below:
`/cloudformation/registry/awsqs-kubernetes-helm`
[code]

`/aws/lambda/helm-provider-vpc-connector-d120cd06a41f3aa7ea0ba1fcdb84ff72`
[code]

cf template:
[code]

[2022-11-11 18:56] jiezhangaofl commented on #63
Got same issue today. This happens when I'm trying to change the cluster.

[2022-11-30 22:44] jiezhangaofl opened #66 "Version 1.16 Stopped Writing Logs to Cloudwatch"
Hi,

I have enabled cloudwatch logs when I activated the helm resource provider. Everything worked great until Aug 26th this year. The logs suddently stopped populating. I have enabled automatic updates on the extension. Now it's on version 1.16.0.

I've checked the iam role permission, and it's configured correctly with these required permissions:
[code]

I don't know what else can I check. Can a